[Unit]
Description=Reach WiFi Status Monitor
After=wifireconnect.service

[Service]
Type=simple
ExecStart=/usr/bin/wifimonitor
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target